/****************************************************************************************************
***********************************************GENERAL***********************************************
****************************************************************************************************/
h1{
	color: rgb(255, 108, 0);
}
h2{
	color: lightblue;
	
}
h3{
	color: #d4f78c;
	
}
p{

}
ul{
	list-style: none;
}
.pad1{
	padding: 1%;
}
.pad2{
	padding: 2%;
}
.pad10{
	padding: 10%;
}
.row{
	margin: 0;
}
.white{
	color: white;
}
.colonne-centree{
	float: none;
	margin: 0 auto;
}
.text-center{
	text-align: center;
}
/****************************************************************************************************
***********************************************MENU**************************************************
****************************************************************************************************/
#navigation{
	padding-top: 1%;
}
#navigation ul{
	text-align: center;
}
#navigation ul a{
	color: white;
}
#navigation ul li {
    display: inline;
    padding: 6%;
}

/****************************************************************************************************
***********************************************ACCUEIL***********************************************
****************************************************************************************************/
#header-accueil{
	background-image: -moz-linear-gradient( 0deg, rgb(159,238,0) 0%, rgb(0,153,153) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(159,238,0) 0%, rgb(0,153,153) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(159,238,0) 0%, rgb(0,153,153) 100%);
	opacity: 0.451;
	height: 60vh;
	position: relative;

}

#slogan-accueil{
	position: relative;
	text-align: center;
	top: 40%;
	transform: translateY(-50%);
}

#information-accueil{
	

}

#services-accueil{
	background-color: #e6e6e6;

}
.info{
	padding: 4%;
}


/****************************************************************************************************
***********************************************SERVICES**********************************************
****************************************************************************************************/



/****************************************************************************************************
***********************************************REA***************************************************
****************************************************************************************************/



/****************************************************************************************************
***********************************************CONTACT***********************************************
****************************************************************************************************/