/****************************************************************************************************
***********************************************GENERAL***********************************************
****************************************************************************************************/
/*TAG*/
body {
	font-family: 'Signika',sans-serif;
}

h1 {
	font-family: 'Dosis',sans-serif;
	font-size: 3em;
}

h2 {
	color: #099;
	font-family: 'Dosis',sans-serif;
	font-size: 2em;
}

h3 {
	font-family: 'Dosis',sans-serif;
	font-size: 2em;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

footer {
	height: auto;
	padding: 1.5%;
}

/*couleur*/
.bg-white {
	background-color: #fff;
}

.bg-gray {
	background-color: #e6e6e6;
}

.bg-white {
	background-color: #fff;
}

.bg-gray {
	background-color: #e6e6e6;
}

.white {
	color: #fff;
}

.vert {
	color: #9fee00;
}

.bleu {
	color: #099;
}

.orange {
	color: #cc5200;
}

/*position*/
.pad1 {
	padding: 1%;
}

.pad2 {
	padding: 2%;
}

.pad10 {
	padding: 10%;
}

.colonne-centree {
	float: none;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.right {
	text-align: end;
}

/*element*/
.btn-devis {
	background-color: #9fee00;
	color: #fff;
	padding: 12px;
}

.btn-devis:hover {
	color: #fff;
}

.btn-vert {
	background-color: #9fee00;
	color: #fff;
	border-radius: 50px;
	padding: 12px;
}

.btn-vert:hover {
	color: #fff;
}

.btn-bleu {
	background-color: #099;
	color: #fff;
	padding: 12px;
	border-radius: 50px;
}

.btn-bleu:hover {
	color: #fff;
}

.btn-orange {
	background-color: #cc5200;
	color: #fff;
	padding: 12px;
	border-radius: 50px;
}

.btn-orange:hover {
	color: #fff;
}

.btn-orange-light {
	color: #cc5200;
	border-radius: 10px;
	border: 2px solid #cc5200;
	padding: 10px 12px;
}

.btn-orange-light:hover {
	color: #fff;
	background: #cc5200;
}
.btn-bleu-light {
	color: #099;
	border-radius: 10px;
	border: 2px solid #099;
	padding: 10px 12px;
}

.btn-bleu-light:hover {
	color: #fff;
	background: #099;
}
.btn-vert-light {
	color: #9fee00;
	border-radius: 10px;
	border: 2px solid #9fee00;
	padding: 10px 12px;
}

.btn-vert-light:hover {
	color: #fff;
	background: #9fee00;
}
.row {
	margin: 0;
}

.roundedB {
	overflow: hidden;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
	width: 220px;
	height: 220px;
	border: 3px solid #099;
}

.roundedV {
	overflow: hidden;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
	width: 220px;
	height: 220px;
	border: 3px solid #9fee00;
}

.roundedO {
	overflow: hidden;
	-moz-border-radius: 120px;
	width: 220px;
	height: 220px;
	border: 3px solid #cc5200;
	-webkit-border-radius: 120px;
	border-radius: 120px;
}

.gras {
	font-weight: 600;
}

.text-vingt {
	font-size: 1.2em;
}

.text-dix {
	font-size: 1.1em;
}

.text-sept {
	font-size: 1.7em;
}

.facebook {
	max-height: 32px;
}

/****************************************************************************************************
***********************************************MENU**************************************************
****************************************************************************************************/
#navigation {
	padding-top: 1%;
}

#navigation ul {
	text-align: center;
}

#navigation ul a {
	color: #fff;
}

#navigation ul li {
	display: inline;
	padding: 5%;
}

.active {
	border-bottom: 2px solid #cc5200;
	padding-bottom: 1%;
}

.header-sticky {
	background: -moz-linear-gradient(left,rgba(159,238,0,0.45) 0%,rgba(0,153,153,0.45) 100%);
/* FF3.6-15 */
	background: -webkit-linear-gradient(left,rgba(159,238,0,0.45) 0%,rgba(0,153,153,0.45) 100%);
/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,rgba(159,238,0,0.45) 0%,rgba(0,153,153,0.45) 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#739fee00',endColorstr='#73009999',GradientType=1);
/* IE6-9 */
	height: 120px;
}

.fixed {
	transition-property: margin-top,margin-right;
	transition-duration: .5s,.1s;
	transition-delay: 0;
	transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
	-moz-transition-property: margin-top,margin-right;
	-moz-transition-duration: .5s,.1s;
	-moz-transition-delay: 0;
	-moz-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
	-o-transition-property: margin-top,margin-right;
	-o-transition-duration: .5s,.1s;
	-o-transition-delay: 0;
	-o-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
	-ms-transition-property: margin-top,margin-right;
	-ms-transition-duration: .5s,.1s;
	-ms-transition-delay: 0;
	-ms-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
	-webkit-transition-duration: .5s,.1s;
	-webkit-transition-delay: 0;
	-webkit-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100px;
	-webkit-transition-property: margin-top,margin-right;
	opacity: .451;
}

.logo {
	max-width: 70px;
}

@media (min-width: 768px) {
	.logo-big {
		max-width: 100px;
	}
}

@media (max-width: 768px) {
	.logo-big {
		max-width: 55px;
	}
}

/****************************************************************************************************
***********************************************ACCUEIL***********************************************
****************************************************************************************************/
#header-accueil {
	background: url('../images/1.png'), -moz-linear-gradient(left,rgba(159,238,0,0.45) 0%,rgba(0,153,153,0.45) 100%);
/* FF3.6-15 */
	background: url('../images/1.png'), -webkit-linear-gradient(left,rgba(159,238,0,0.45) 0%,rgba(0,153,153,0.45) 100%);
/* Chrome10-25,Safari5.1-6 */
	background: url('../images/1.png'), linear-gradient(to right,rgba(159,238,0,0.45) 0%,rgba(0,153,153,0.45) 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#739fee00',endColorstr='#73009999',GradientType=1);*/
/* IE6-9 */
	height: 70vh;
	position: relative;
}

#slogan-accueil {
	position: relative;
	text-align: center;
	top: 25%;
	transform: translateY(-50%);
}

#information-accueil {
}

#services-accueil {
	background-color: #e6e6e6;
}

.info {
	padding: 4%;
}

.quiquequoi {
	min-height: 200px;
}

/****************************************************************************************************
***********************************************EQUIPE************************************************
****************************************************************************************************/
#information-equipe {
	margin-bottom: 2%;
}

/****************************************************************************************************
***********************************************SERVICES**********************************************
****************************************************************************************************/
#information-services {
	margin-bottom: 2%;
}

/****************************************************************************************************
***********************************************REA***************************************************
****************************************************************************************************/
.projet-container {
	text-align: -webkit-center;
	width: 65%;
	margin: auto;
}

.vignette-projet {
	width: 100%;
}

.card {
	max-width: 250px;
	max-height: 400px;
	background: #fff;
}

.card p {
	text-align: center;
	padding: 18%;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/****************************************************************************************************
***********************************************CONTACT***********************************************
****************************************************************************************************/
#contact {
	background-color: #5a8395;
}

.form-control {
	color: #424242;
	background-color: #fff;
	border: 1px solid #cc5200;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 5%;
}

.help-block {
	color: #cc5200;
	float: right;
}

#btn-contact {
	background-color: #9fee00;
	color: #fff;
	padding: 20px 50px;
	border-radius: 10px;
	border: none;
}

#btn-contact:focus {
	background-color: #cc5200;
	color: #fff;
	padding: 20px 50px;
	border-radius: 10px;
	border: none;
	outline-color: initial;
}

.form-control:focus {
	border-color: #00BCD4;
	box-shadow: none;
}

textarea.form-control {
	border: 1px solid #cc5200;
	background: #fff;
	color: #3a3a3a;
	border-radius: 0;
	height: 300px;
}

.form-control::-webkit-input-placeholder {
	color: gray;
}

.form-control:-moz-placeholder {
	color: gray;
}

.form-control::-moz-placeholder {
	color: gray;
}

.form-control:-ms-input-placeholder {
	color: gray;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 0;
	text-transform: uppercase;
}

.alert-danger {
	color: #FFF;
	background-color: #00356C;
}

#contact-geo {
	background: #e6e6e6;
}